[2014-07-12 16:41] rylnd opened #1 "app.coffee is application entry point"
@itsthatguy suggested we should move all the webserver-y stuff out of app.coffee, and turn that file into more of a manifest and entry point.

[2014-07-12 16:43] rylnd opened #2 "Documentate"
Why do I use adorable-avatars? How do I use adorable-avatars?

[2014-07-12 18:45] rylnd opened #4 "Auto-determine # of buckets/images"

[2014-07-12 21:45] rylnd opened #6 "Request fails on single-character identifier."
For example, try hitting http://localhost:3002/avatar/v , you get

[code]

[2014-07-13 05:17] #1 closed, assigned to nobody

[2014-07-14 16:14] rylnd opened #8 "Contribution Instructions"
Move the 'running locally' stuff to a separate file. It'd probably be nice to say "make sure you run the tests," so I'll probably add a few sanity-check tests, too.

[2014-07-15 15:37] rylnd opened #9 "Add License"
@bigtiger Any preference on which one?

[2014-07-15 18:25] itsthatguy opened #11 "Build badge in readme?"

[2014-07-15 19:11] #9 closed, assigned to rylnd

[2014-07-15 19:12] #2 closed, assigned to rylnd

[2014-07-15 19:14] #6 closed, assigned to nobody

[2014-07-15 19:20] #11 closed, assigned to rylnd

[2014-07-28 14:31] #8 closed, assigned to rylnd

[2014-09-08 17:19] #4 closed, assigned to nobody

[2014-09-09 17:06] itsthatguy opened #15 "Avatar Permalinks"
Once we're actually generating avatars procedurally, we can provide a permalink to an avatar's given attributes. That way, if we add more attributes in the future and the mapping changes, people can still use the same avatar.

[2014-09-14 02:58] itsthatguy opened #19 "Return image in requested format (png/jpg/gif)"

[2014-09-17 22:00] rylnd opened #21 "Version API for release of v2"
I mentioned this in #15, but @bigtiger suggested we preserve the existing API routes for posterity. Anyone have a preference as to what the new routes should look like?

[2014-09-30 22:03] bigtiger opened #25 "Share an ID by setting querystring param"
In order to send an example of an avatar to another person
As a user of the Avatars site
I want to be able to set some params and send that to my friends

When I visit http://avatars.adorable.io/#demo?name=Jessie
Then the site scrolls to the demo section
And I see "Jessie" in the identifer
And the avatar for "Jessie" is displayed

[2014-10-01 16:05] rylnd opened #27 "Unescape identifiers"
Related to adorableio/adorable-avatars-site#7, we need to unescape identifiers on the API end.

[2014-10-01 16:13] rylnd opened #28 "Consolidate API Documentation"
I think this would be best done in a wiki, rather than the README, or the site.

Main points we need to cover (some of which are already done elsewhere):
- v1 API (`/avatar`)
- v2 API (`/avatars`)
  - list API (`/list`)
  - manual API (`/face`)

[2014-10-01 16:13] #21 closed, assigned to nobody

[2014-10-01 20:31] #27 closed, assigned to nobody

[2015-01-23 12:15] aitorllj93 opened #34 "GET random avatar"
Hi! Your api looks awesome! :)

It's possible to get a random avatar?

If not, do you have plans of adding that feature?

[2015-01-23 17:07] bigtiger commented on #34
@aitorllj93 You could accomplish this today by sending a random string (http://api.adorable.io/avatars/285/[RANDOM_STRING].png). We'll add a random endpoint to our (mental) roadmap. Cheers!

[2015-01-23 18:32] #15 closed

[2015-02-10 05:47] garmoshka-mo opened #35 "ridiculous API that boasts over 9.6 billion possibilities"
Here  http://avatars.adorable.io/ in FAQ said:

Where to get this api?

[2015-02-10 15:28] rylnd commented on #35
Hey @garmoshka-mo! That's referring to our v2 api, which is a work in progress and thus not yet well-documented/-defined.

V2 allows you to build your own avatar specifying (for now) eyes, nose, mouth, and background color. Check out the relevant [routes](https://github.com/adorableio/avatars-api/blob/master/lib/routes/v2.coffee)  and [integration tests](https://github.com/adorableio/avatars-api/b

[2015-02-11 21:12] itsthatguy commented on #35
a few examples:

`http://api.adorable.io/avatars/face/eyes1/nose4/mouth11/beb`
`http://api.adorable.io/avatars/face/eyes4/nose3/mouth4/eeb`

[2015-02-21 04:14] rylnd commented on #35
@garmoshka-mo does that answer your question? We do need better documentation (see #28), but may I close this issue?

[2015-02-21 20:23] garmoshka-mo commented on #35
Yeah, all's cool!
Maybe just add link on http://avatars.adorable.io/ in FAQ, so other users also not get confused

Thank you!

[2015-05-11 14:56] rylnd opened #36 "SSL Support"
This was requested via email. Adding it to GitHub for visibility.

[2015-05-11 18:22] itsthatguy commented on #36
+1

[2015-05-11 20:14] bigtiger commented on #36
`I use SSL for my entire site, and I removed adorable avatars simply to get rid of "mixed content" errors.`

[2015-05-13 22:53] zetas commented on #36
Can't you check out this repo and run your own version under ssl? The reason it doesn't work with the existing service is it's running from a heroku instance with a bad cert.

[2015-09-04 14:09] GrayedFox opened #38 "Allow user to specify border radius"
The ability to add a border via the adorable avatars website is pretty cool.

Could we also do this for generating avatars using URL params?

Something like:

http://api.adorable.io/avatars/b25/285/sometext.png

Could simply apply 50% border to any int passed which is higher than 50, and 0% to anything lower - not sure how you guys want to handle floats :octocat:

[2015-09-04 14:10] itsthatguy commented on #38
What's the use case for doing this, rather than using css to handle the border-radius?

[2015-09-04 14:17] GrayedFox commented on #38
Any case where one uses an avatar and doesn't have the magic of the web available :wink: for our apps, I use a random string generated and attach it to the end of the adorable URL. Using adorable avatars for place holders. They look a bit rough around the edges, given our design. It's purely artificial - they eventually will be replaced with our own logo which will have a border similar to the one

[2015-09-04 14:19] GrayedFox commented on #38
Or did you mean applying CSS border style to the generated avatar, then downloading it? That's possible I suppose, but it would be a manual job on top of what is a relatively automated and smooth process :)

[2015-09-04 14:23] #35 closed

[2015-12-29 17:54] interaminense opened #39 "Choose color"
I can choose a color? how do I do?

[2015-12-29 19:31] bigtiger commented on #39
There is but only if you choose each item:

/avatars/face/:eyes/:nose/:mouth/:color

Does this fit your needs or no?

[2015-12-29 19:49] interaminense commented on #39
Bigtiger thanks for answering,

I do not know how to fill the color, example:

/avatars/face/eyes1/nose1/mouth1/:color

[2015-12-29 19:52] bigtiger commented on #39
Ahh! It takes a hex code. Like [FFFFFF](http://www.color-hex.com/color/ffffff) (White) [000000](http://www.color-hex.com/color/000000) (Black) or [FF0000](http://www.color-hex.com/color/ff0000) Red

[2015-12-29 20:04] interaminense commented on #39
That's it!! Thank you so much!

[2015-12-29 20:07] #39 closed

[2015-12-29 20:53] bigtiger commented on #39
Aww Yiss!

[2016-01-19 01:55] zbuttram commented on #36
+1

[2016-02-19 03:11] bigtiger commented on #36
<img width="573" alt="2016-02-18 at 9 09 pm" src="https://cloud.githubusercontent.com/assets/8511/13165532/13353810-d684-11e5-8ba4-6959aac6822d.png">

Support for SSL is now in place! Sorry for the delay.

[2016-02-19 03:11] #36 closed

[2016-03-03 19:19] Joeao opened #41 "Add size parameter to Custom Face Parts endpoint"
Hi,

I was hoping to make a pull request myself but am having trouble installing the project locally.
Would it be possible to add a size parameter to the end of the Custom Face Parts endpoint? I think the endpoint is particularly useful in its flexibility, other than not being able to append a size. It looks as though it would entail the following changes:

[code]

But without being able to test i

[2016-03-04 04:48] Joeao commented on #41
Sure. On reflection, I probably should have started there. Will open a new issue and come back to this later.

[2016-03-04 07:18] Joeao opened #42 "postinstall.js Fails"
Hi all,

postinstall.js seems to fail when being run on Node 0.10, 0.12, 4.2.6 (latest LTS) and 5.5.0 (a recent stable).
The error seems to be at [postinstall.js:6](https://github.com/adorableio/avatars-api/blob/master/postinstall.js#L7) `runCommand("gulp");`. Commenting out this line allows installation to complete normally.

To reproduce this error, follow the [Guidelines for Contributing](https

[2016-03-04 07:27] Joeao opened #43 "Generated image files missing"
Hello,

The `.generated` folder, subfolders and assumably all face, eyes and nose images are required by the app, but the directory is included in the [.gitignore file](https://github.com/adorableio/avatars-api/blob/master/.gitignore#L3). This error causes the app to crash on execution due to directories missing, and no images to generate when making a request due to files missing.

To recreate th

[2016-03-04 08:01] Joeao commented on #43
This error is directly caused by #42.

[2016-03-04 08:01] #43 closed

[2016-03-04 08:08] Joeao commented on #42
Kind of embarrassing, was an issue on my end. I'm not sure how to recreate it, but updating homebrew and Node to the latest version fixed it. Then when reverting back to old versions of node everything was still working. Will reopen this if I find out what went wrong, otherwise let's assume all is good.

[2016-03-04 08:08] #42 closed

[2016-04-04 19:58] voltaaage opened #46 "API not sending back a response consistently"
Working on a project and it seems like the API only sends back a response some of the time.

![image](https://cloud.githubusercontent.com/assets/7111237/14261345/c8a195b2-fa75-11e5-973c-00ff8db20fda.png)

Console Errors:
![image](https://cloud.githubusercontent.com/assets/7111237/14261240/4ef3183a-fa75-11e5-9bdc-2577d6a015b3.png)

![image](https://cloud.githubusercontent.com/assets/7111237/1426129

[2016-04-04 20:02] rylnd commented on #46
Yeah, a cursory investigation of the logs indicates that we don't have enough dynos to SERVE ALL THESE DANG REQUESTS.

[2016-04-04 20:10] zbuttram commented on #46
Hey guys, just saw this. I launched an app over the weekend that uses the API for its default avatars for new users, and we're getting a bit more traffic than we expected. If requests with referrals from treesradio.com are what's killing things for you let me know, I can spin up my own dyno so you guys don't have to take that hit.

[2016-04-04 20:12] itsthatguy commented on #46
@zbuttram I'd be curious to see if you redirecting to your own dyno changes the load enough to stop failures... atleast so we get a metric for what the capacity.

[2016-04-04 20:15] zbuttram commented on #46
@itsthatguy Unfortunately I won't be able to spin it up and make the change until later today, probably after 7pm PST, but I'll get to it asap! Super sorry if we're the ones responsible, we really didn't expect the amount of traffic we're getting right now.

[2016-04-05 02:59] zbuttram commented on #46
Just deployed the change on our end. Hopefully things look better soon.

[2016-04-05 16:26] voltaaage commented on #46
I haven't seen any issues today on my end - I'm good with closing this issue

[2016-04-05 16:26] #46 closed

[2016-07-12 13:49] bigtiger opened #51 "Cache resultant avatars for future requests"
Request came from Twitter https://twitter.com/mgmarshalluk/status/752854367578054657

[2016-07-12 14:01] itsthatguy commented on #51
https://github.com/adorableio/avatars-api/tree/image_caching?files=1

[2016-07-12 14:09] mgmarshall commented on #51
Hello, yes thanks for this.

Basically I am trying to use your avatars on my social site as currently we just have Gravatar, Facebook and Google.

We use a UID for each user and their avatar shows like this:
https://api.adorable.io/avatars/100/e8f4a225e467d58270d48ed829615be4.png

When using it on the website, I am seeing up to a 7-8 second delay in it showing.  That is with only 1 avatar on scree

[2016-07-12 14:14] mgmarshall commented on #51
I just saw the post by **istthatguy** who shows a diff branch, thanks man.  I had no idea this was open source like this.  Do you have any plans to add caching to the branch running on http://avatars.adorable.io/ ?

[2016-07-20 20:33] itsthatguy commented on #51
@mgmarshall yes, we do. As soon as we get time to wrap that work up, we will get it deployed, and close this issue.

[2016-07-25 07:46] mgmarshall commented on #51
Thank you very much :D

[2016-11-05 06:17] bigtiger commented on #51
Throwing more heroku dynos at this lately. We're going to need to spend some cycles on this coming up. I wonder whether the db is the best layer to cache this at. If not there, then where? If we had a persistent file store we could store them as static files. idk

[2016-11-06 16:31] southpolesteve commented on #51
@bigtiger Not sure what it would cost at your bandwidth, but check out the heroku fastly add on. We're big fastly users (outside of heroku). A+ would recommend. Seems like a good solution for this problem.

[2017-01-14 19:25] Xaviju commented on #38
I'd love to be able to specify the radius as well in the api params. Thanks, great resource.

[2017-07-29 00:24] BaileyMillerSSI opened #55 "Question about predictable random generator"
I understand that you are using some form of hashing to always get the same image back based on the input value. However I am confused on how you can select something like `img_01.png` based on a hash value. Can you explain to how a hash value can be used to select a value like this? Essentially you pass the hash into a switch statement and it will always return `img_01.png` but if the hash change

[2017-07-30 20:09] #51 closed

[2017-07-30 22:27] rylnd commented on #55
@BaileyMillerSSI you are correct that if the hashing function changes the outcomes will change.

I encourage you to look at the `SlotMachine` class and its tests, but in essence our hashing works like this: given a collection of outcomes (e.g. avatar images) and a hashing function that returns an integer (e.g. "sum all the character codes in the string"), we get an instance that will return one of

[2017-07-31 12:43] BaileyMillerSSI commented on #55
My friend is looking to do something similar for a school project so I am trying to help with the code. Your @slots variable is an array of images, or in the test case `file1, file2, file3, file4, file5`. Then you call the pull method with your input string, in the case of the demo website this can the username, or anything really.
Pull returns a variable out of the @slots array of images, in the

[2017-07-31 15:19] rylnd commented on #55
@BaileyMillerSSI yes, I think you've got it.

The eyes/nose stuff is for the more complicated v2 endpoint with several `slotMachine` instances for each part of the image, and would be closer to

[code]

The v1 endpoint is the simpler one that I'd suggest you start with; it does the "hash the string and pick an image file" logic, as opposed to building up the image programmatically. The general con

[2017-08-25 03:42] kenchoong opened #62 "Can specific border radius??"
Can I specific the border radius in the URL of the api??

[2017-08-25 14:33] rylnd commented on #62
Hi @kenchoong! This was discussed previously in #38, but we currently do not support border-radius as part of the avatars API.

If you've got CSS available to style, we'd suggest doing that for now. However, if you don't, and since you're not the first one to make this request, we'll look into how feasible this would be to do. As always, Pull Requests welcome and encouraged :)

[2017-08-28 22:12] rylnd commented on #38
@GrayedFox @Xaviju @kenchoong we discussed this and decided that while implementing border-radius as a parameter in the API may be feasible, it's also possible in whatever client is rendering the images (with varying degrees of difficulty, admittedly). What is _not_ feasible is supporting every possible presentation of our avatars: what if someone wants triangular avatars, or octagonal avatars, or

[2017-08-28 22:12] #38 closed

[2017-08-28 22:13] rylnd commented on #62
Closing as a duplicate of #38

[2017-08-28 22:13] #62 closed

[2017-08-29 06:12] Xaviju commented on #38
No problem, thanks for your work!

[2017-08-29 15:44] itsthatguy opened #63 "add the ability to use Adorable Avatars API as a middleware"

[2017-09-15 15:48] GrayedFox commented on #38
Fair enough :+1: thanks for the response and keeping us in the loop

[2017-10-18 23:30] rylnd opened #65 "Reduce image size by limiting bit depth, etc."
This optimization comes from @TylerK: we should be able to reduce our image sizes (and thus bandwidth, etc.) by modifying our imagemagick params (and/or using pngcrush) to limit the images' bit depth and remove the alpha channel.

In general, there's likely a bunch of features of PNG that we're paying for but don't really need.

[2017-10-19 20:20] bigtiger commented on #65
_nods approvingly_

[2018-02-03 10:13] udit-001 opened #66 "Can you tell me about this ENDPOINT"
How many possibilities are there, for this endpoint?

[http://api.adorable.io/avatar/](http://api.adorable.io/avatar/)

[2018-02-05 15:07] bigtiger commented on #66
There are over 5000 avatars available at that endpoint.

[2018-02-05 20:03] bigtiger commented on #66
10 eyes * 8 mouth * 8 nose * 9 colors = 5760

[2018-02-05 20:05] rylnd commented on #66
@udit-001 see also https://github.com/adorableio/avatars-api/issues/35.

[2018-02-06 13:32] udit-001 commented on #66
@rylnd and @bigtiger perhaps you both misinterpreted my question.

I was talking about the endpoint which yields the following image as a result.

![Hi_mom](http://api.adorable.io/avatar/well)

[2018-02-06 15:31] bigtiger commented on #66
That is a legacy endpoint. There are 11 unique responses. You could dig back through the repo to retrieve them if they were of interest to you.

[2018-02-06 19:29] rylnd opened #67 "Default branch does not reflect what's deployed"
We currently have the default branch set to `develop`. However, `master` is generally what's on production. I think this is kind of confusing.

[2018-02-06 19:31] rylnd commented on #67
This is a fine pattern; I was just out of practice with it. I'm going to close this because I don't really have a better solution.

[2018-02-06 19:31] #67 closed

[2018-02-14 18:38] rylnd commented on #66
@udit-001 has your issue been addressed? If so, please close this.

[2018-02-15 23:28] rylnd commented on #66
@udit-001 I'm closing this for now, please reopen or file a new issue as needed. I hope that we were able to help!

[2018-02-15 23:28] #66 closed

[2018-04-04 20:04] rylnd opened #71 "Make the repository name more descriptive."
Given that this repo is now (mainly) an express middleware(s), it's my belief that `avatars-middleware` or `avatars-api-middleware` would be more informative than the current repo name.

[2018-04-04 20:05] rylnd commented on #71
@itsthatguy what do you think?

[2018-04-06 14:46] itsthatguy commented on #71
`avatars-api-middleware` maybe

[2018-04-09 16:47] #41 closed

[2018-04-09 17:01] #28 closed, assigned to nobody

[2018-04-09 17:02] rylnd commented on #55
Closing this due to inactivity.

[2018-04-09 17:02] #55 closed

[2018-04-09 17:05] #25 closed, assigned to nobody

[2018-04-10 00:33] ajklinger1 commented on #41
Is there anyway to unsubscribe me to receiving adoble github emails?

On Mon, Apr 9, 2018, 11:47 AM Ryland Herrick <notifications@github.com>
wrote:

[2018-04-10 01:10] rylnd commented on #41
@ajklinger1 you can choose to stop watching this repository by clicking 'Unwatch' at the top of the page. You can also manage your general Notifications settings on the Profile > Settings > Notifications page.

[2018-04-13 10:42] FlorianKoerner opened #75 "Let's work together"
I really like your adorable avatars and would be happy to create a version for [DiceBear Avatars](https://avatars.dicebear.com/) for it.

DiceBear Avatars works similarly. SVG avatars are created using an identifier. Sprite collections are used, which exist in addition to the library.

I would like to create such a sprite collection for Adorable Avatars, if that's okay with you. For this I would h

[2018-04-13 16:18] Jackymancs4 opened #76 "Discussion: a better routing schema"
cc @rylnd

This was the last issue I had in mind to do, I promise!

Right now the endpoint set look like this:

[code]
and as a developer I found it a bit confusing and hard coded.
So after some experiment I would propose you to implement the whole thing in a different way that (assuming #74 will land) should follow this schema:

| root | scope | optional size | params |
| -- | -- | -- | -- |
| av

[2018-04-13 22:10] rylnd commented on #76
@Jackymancs4 here are my thoughts:

* The only real "resources" we have are an avatar, identified by `/:id`, a custom avatar, identified by `/face`, and some meta stuff that doesn't really belong elsewhere
* I think everything else is a modification of the above, e.g. size or face components
* I think we should condense this down to three endpoints with optional query parameters:
    * `/:id`, wit

[2018-04-19 14:31] brandonmack111 commented on #76
I also note that on your homepage you say "we'd love to feature more artists' series."
To me, this implies there will be room in the future for expansion. This means you should include some space in your schema to allow for this.

I feel that the :scope should be included as a way of future-proofing, so you can add more sets later (for example, say I created a set that I called 'monkey faces.' Thi

[2018-04-20 20:49] rylnd commented on #75
@FlorianKoerner that sounds wonderful! We don't yet have a mechanism to host arbitrary artist's sets, but that's on the roadmap for sure.

Just to clarify what you're suggesting: you'd like to create pixelized versions of our avatars (as a sprite collection), for use in the DiceBear Avatars service?

If so, we unfortunately don't have assets beyond what you see in [src/img](https://github.com/ador

[2018-04-20 20:53] rylnd commented on #76
@brandonmack111 I agree!

So perhaps we need four top-level resources, then:

* `/custom` as above
* `/meta` as above
* `/series/:seriesName/:id` for artists' sets
* `/:id` as the backwards-compatible catchall

[2018-04-20 21:03] FlorianKoerner commented on #75
With your permission, I'd like to vectorize your graphics. Without creating a pixel rated version.

Then both projects could use the graphics. 🎉

[2018-04-20 21:12] brandonmack111 commented on #76
You might also want to allow custom avatars in other sets, perhaps with `/series/:seriesName/:custom/<params>` -  though that does mean you need a modification to your `/meta/list` as well, since different sets will have different resources in them. That could perhaps also have an optional `:series` param (as in `/meta/list/:series`)

I'm considering working on this one myself, since I actually wa

[2018-04-20 23:40] rylnd commented on #76
@brandonmack111 I think that there's a compromise between what is possible and what we can support as maintainers. Generating custom (not generated from an `:id`) avatars is not currently the core use case of this middleware. Custom avatars for arbitrary avatars series could exponentially grow the complexity here if not handled correctly.

I see one valid use case for the custom avatars: it allows

[2018-04-20 23:48] rylnd commented on #76
@brandonmack111 something like this:

[code]

[2018-04-21 00:51] brandonmack111 commented on #76
Good point about maintainability - though I do think it can be done simply
enough, it is obviously better to keep it as simple as possible.

I do like the idea of a custom hash function, as that makes it really
simple for more advanced users to add a ton of custom functionality,
without adding tons of endpoints.

On Apr 20, 2018 4:48 PM, "Ryland Herrick" <notifications@github.com> wrote:

@brandon

[2018-04-25 20:26] FlorianKoerner commented on #75
Works the same way. But with separate vector pieces and not with pixel pieces.

[2018-04-25 20:40] #75 closed

[2018-04-29 08:23] HaakonL opened #80 "Size parameter in URL does not work"
This works:
https://api.adorable.io/avatars/face/eyes13/nose10/mouth2/00aeff

This does not work:
https://api.adorable.io/avatars/face/eyes13/nose10/mouth2/00aeff/256

According to the tests in the code repository, the size parameter is expected to work.

[2018-04-29 08:29] HaakonL commented on #80
Line 49 in integration.js test:

it('can manually compose an image with a custom size', function(done) {
      request.get('/avatars/face/eyes1/nose4/mouth11/bbb/50')
      .expect(200)
      .expect('Content-Type', /image/)
      .parse(parseImage).end(function(err, res) {
        im(res.body).size(function(_, size) {
          expect(size).to.eql({ height: 50, width: 50 });
          done();

[2018-04-29 17:54] rylnd commented on #80
Hi @HaakonL, thanks for letting us know! The documentation you're referring to is for the avatars middleware, which distinct from the service living at api.adorable.io. While the documentation is correct, unfortunately the service is not running the latest version of this middleware.

I will update the service tomorrow to amend this discrepancy. In the meantime, you can always [run your own server

[2018-04-30 15:15] rylnd commented on #80
@HaakonL the newest middleware is now deployed. Please reopen this issue if necessary.

[2018-04-30 15:15] #80 closed

[2018-05-03 16:04] itsthatguy commented on #75
@FlorianKoerner would you want to get on a call to talk about this? I'd like to know more about your plans, and what best we can do.

[2018-05-03 16:33] FlorianKoerner commented on #75
However, I would like to thank you for your interest.

[2018-05-20 00:55] CKGrafico opened #81 "CORS from github?"
I'm trying to use this api from another github projects but I've CORS error:

Failed to load https://api.adorable.io/avatars/list: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://ckgrafico.github.io' is therefore not allowed access.

[2018-05-29 15:22] bigtiger commented on #81
@CKGrafico Are you still seeing this error?

[2018-06-05 06:02] CKGrafico commented on #81
Yes :( https://ckgrafico.github.io/FooCards-Nuxt/login (click the button)

[2018-07-17 15:56] dappvolume opened #82 "URL's not working all of a sudden, service seems to be down."
Hello,

Some URL's are all of a sudden breaking on DappVolume https://dappvolume.com/transactions/eth

For example: https://api.adorable.io/avatars/32/0x8a9d49a6e9d037843560091fc280b9ff9819e462@adorable.png

 Application error

An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details.

[code]

[2018-07-17 16:17] bigtiger commented on #82
Thanks for the heads up. We're looking into this it appears to be a problem related to our CDN provider.

[2018-07-17 16:35] bigtiger commented on #82
Added more hardware. This isn't a sustainable long-term fix without billing for folks using this in Production.

[2018-07-17 16:35] #82 closed

[2018-08-06 09:15] varadpoddar opened #83 "Discussion : Laravel Installation or Use"
Hi, I was wondering if there was a way to integrate this in Laravel. 👍

[2018-08-06 18:54] rylnd commented on #83
Hi @varadpoddar! I'm not familiar with Laravel but it looks to have a lot of overlap with [express.js](https://expressjs.com/), for which this project is a middleware.

Conceptually, the shortest path to your request would be to run both application servers on your backend: a PHP server running your laravel app, and a node.js server running this avatars API as an express app.

Because of the afore

[2018-08-06 18:54] #83 closed

[2018-10-02 20:26] tehkaiyu opened #84 "Empty response from server"
I can't seem to get the middleware working. The response comes back empty:
![localhost_3000_avatars_abc](https://user-images.githubusercontent.com/4271679/46374864-a4d17180-c646-11e8-9fcc-0d580c6c5d95.png)
![localhost_3000_avatars_abc_and_server_js_ _test-avatar](https://user-images.githubusercontent.com/4271679/46374877-b155ca00-c646-11e8-9445-5e1e485978ee.png)

Server setup:
[code]

Node version

[2018-10-04 19:40] rylnd commented on #84
@tehkaiyu thanks for the report! I'm able to reproduce this locally but I don't yet have a cause or solution. The current theory is that some dependency's behavior changed somehow (as this package hasn't changed since 0.2.1); we'll keep you posted.

[2018-10-04 20:35] tehkaiyu commented on #84
Thank you!

[2018-10-04 23:53] ihadeed commented on #84
I had the same issue on my Ubuntu 18 server. It was missing GraphicsMagick and ImageMagick.

[code]

[2018-10-05 20:59] bigtiger commented on #84
FWIW @ihadeed, GraphicsMagick should _not_ be required. Imagemagick **is** however required. I've added a note to the README in #85.

[2018-10-05 21:32] rylnd commented on #84
@tehkaiyu, installing imagemagick should address your issue; please reopen this PR if you continue to experience issues.

[2018-10-05 21:32] #84 closed

[2018-10-07 13:16] josecprocha commented on #84
Same problem using the same code as @tehkaiyu . I'm using Node.js 10.11.0 (x64) and ImageMagick 7.0.8-12 (x64) in a machine with Windows 10.

[2018-10-07 13:50] josecprocha commented on #84
**Solved!** Guys, I tried various versions of ImageMagic: Q8, Q16, static, dynamic as well different versions of Node.js. **The solution was use GraphicsMagick** (I'm using version 1.3.30 Q8 x64) 😃

[2018-10-08 17:43] rylnd commented on #84
@josecprocha @tehkaiyu @ihadeed these seem to be issues with the [gm](https://github.com/aheckmann/gm) package that we're using; it looks like behaviors are different for each OS. https://github.com/aheckmann/gm/issues/684 may be relevant for windows users; there are plenty of open issues to peruse :).

I've historically only used this library on OSX, and we've only needed a `brew install imagemag

[2018-12-21 11:16] agamemnus opened #86 "module.exports missing"
idk

Needed to add `module.exports = router;` after `var router = (0, _express2.default)();` in `dist/routes/avatars.js`.

[2019-01-10 17:51] rylnd commented on #86
@agamemnus sorry for the late response; holidays and all that.

We've mainly been using this with babel and using `import` so we hadn't noticed the issue! It looks like what you're experiencing is described [here](https://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default).

Instead of modifying the source code, you should also be able to use:

[code]

Could you verify tha

[2019-01-10 18:01] agamemnus commented on #86
I tried that and it didn't work, I think. I ended up just using your server code wholesale. Thank you for sharing this avatar generator!

[2019-01-10 18:02] agamemnus commented on #86
But if I have time I will try it again.

[2019-01-10 18:06] rylnd commented on #86
@agamemnus sure thing; I was playing with it in runkit and found that to be the case: https://runkit.com/rylnd/5c378920bc4c1d0013310b67

[2019-01-15 19:38] #86 closed

[2019-01-15 19:56] rylnd commented on #86
@agamemnus as you probably saw, 0.2.2 was just released. The intention is that it should address this problem; please reopen the issue if it does not.

[2019-01-22 06:17] baeharam opened #89 "Can I use in mobile application?"
I'm implementing chat application by flutter. Can I use this in flutter mobile application?
If so, how can I obtain the way to call API?

[2019-01-22 15:16] bigtiger commented on #89
@baeharam

We host a **development** version of the API here: https://api.adorable.io/avatars/285/abott@adorable.png

With a description of how it's used here: http://avatars.adorable.io/

Please note: This is not intended to support production applications. We highly recommend building a node app that includes this middleware and deploying it on a host you control.

[2019-01-23 04:45] baeharam commented on #89
@bigtiger Got it, thanks!

[2019-01-23 04:46] #89 closed

[2019-03-04 15:47] luckydonald commented on #75
Funfact, consent to vectorize those still hasn't been given.

[2019-03-21 15:37] rylnd opened #90 "Remove outdated/confusing server code"
This repository originally held all of the code necessary to deploy and run an express server serving avatars. As the name implies, this repository has since been pared down to contain only the express middleware itself; any server code contained here is only meant as a convenience for development of the middleware.

In summary: there are code relics that are understandably confusing developers (s

[2019-03-29 21:34] itsthatguy opened #92 "Replace babel-watch due to slow security fixes"
There are currently multiple security issues associated with babel-watch. Trying to resolve these, resulted in a long string of manual updates to nested dependencies, which is not maintainable.

I propose that we instead find another utility for this. Perhaps we switch to typescript?

[2019-04-09 16:13] #90 closed

[2019-04-17 22:02] rylnd commented on #92
Closed by #93. Released in cb812d6 as 0.3.0.

[2019-04-17 22:02] #92 closed

[2019-04-19 21:44] rylnd opened #95 "Replace imagemagick"
It's slow, it's an external dependency, and its API is outdated.

[2019-04-29 20:59] rylnd commented on #95
Closed by #98

[2019-04-29 20:59] #95 closed

[2019-04-29 21:08] rylnd opened #99 "extensions affect the returned avatar"
We previously had code in place that made the requests `/avatars/foo.png` and `/avatars/foo`  "the same;" it was accomplished by simply stripping the extension out of the identifier. I removed this code because I thought it was silly, but I realize now that it's really a stopgap for #19.

Avatar-wise, the extension should _not_ affect the result. Long-term, it _should_ affect the content-type of t

[2019-08-10 23:57] qaisjp commented on #99
Yeah the URL on the website gives a `.png` but the image displayed is without the `.png`

[2019-08-10 23:59] qaisjp commented on #76
Or just API versioning

[2019-09-24 13:51] nopor opened #102 "Identifier can result in a 404"
**What is happening?**
If the identifier ‘..’ is chosen, the result is actually a 404.

**What is expected?**
An image as usual.

**URL**: https://api.adorable.io/avatars/285/..

However, it works with the suffix .png (https://api.adorable.io/avatars/285/...png)

[2019-09-24 19:13] rylnd commented on #102
Hi @nopor, thanks for filing the issue!

`.` and `..` are reserved sequences in URI segments and hold special meaning ([reference](https://www.w3.org/Addressing/URL/4_3_Partial.html)). The URI `/foo/bar/../baz` would resolve to `/foo/baz`, and `/avatars/285/..` in this case is resolving to `/avatars`, which leads to the 404 you're seeing. Appending the suffix means it's no longer a reserved sequen

[2019-09-24 19:18] nopor commented on #102
Hi @rylnd,

Yes, that's why I was filing this report. It could be resolved just for this specific servlet, though at least in the demo it could be prevented in order to not have an empty image on display.

Thanks for the quick answer. I suppose we can close the issue then, since it was more about to raise awareness.

[2019-09-24 19:18] #102 closed

[2020-05-19 11:43] rptoma opened #103 "Library can't be installed"
The library can not be installed.

Node version 14.2.0
npm version 6.14.5

I think it is because of the sharp dependency which needs to be updated.

If you try to install that version of sharp in the project, it would give the same error. The latest sharp version works, though.

[code]

[2020-05-19 13:14] rptoma commented on #103
I created a PR #104

[2020-06-18 04:56] stephdedios commented on #103
Tried installing Sharp on Dependencies and it's still not working.

[2020-06-19 02:04] rylnd commented on #103
Hey @rptoma! It looks like you're using a newer version of node than is currently supported. As a temporary workaround, you may be able to use node 10.x as that appears to use a prebuilt version of `sharp-libvps`.

[2020-06-29 15:15] uy-rrodriguez opened #105 "Difference between generated and result of link on the website"
Dear all,

I was trying out the library on your website https://api.adorable.io/ and the result of using the embedded tool is different when directly opneing the generated link. For e.g. the result for abott@adorable.io is a pink-ish face, whereas https://api.adorable.io/avatars/285/abott@adorable.png draws a completely different yellow-ish avatar.

Is it a problem on versions?

[2020-08-01 22:47] antonlukin commented on #103
Hello there.
I think it's a good idea to support the current nodejs version.

[2020-10-14 18:59] davidwparker opened #108 "Site is gone?"
http://avatars.adorable.io/
no longer exists.

Is the only way to use via self-hosting now?

[2020-10-14 22:02] willcrisis commented on #108
+1 on this. I was using it on a project, and got surprised this afternoon when all my avatars stopped working.

As a workaround, I created a Firebase Functions version that can be self-hosted "for free" while we get some responses about what happened to it. This is the repo: https://github.com/willcrisis/adorable-avatars-cloud-functions

[2020-10-15 15:51] ValentinVignal commented on #108
Hello, is there any news about this, I am using your API in several projects too

[2020-10-15 21:12] gfauchart commented on #108
I've hosted the project on this domain: https://api.hello-avatar.com/adorables/

it's the same API as before, feel free to use it!
https://api.hello-avatar.com/adorables/myseed
https://api.hello-avatar.com/adorables/120/myseed
https://api.hello-avatar.com/adorables/face/eyes2/nose2/mouth1/ff0000/120
https://api.hello-avatar.com/adorables/list

[2020-10-15 21:41] rylnd commented on #105
Hey @uy-rrodriguez ! I believe the difference here is due to the value being different: your first example is using `abott@adorable.io`, while the second is using `abott@adorable` (I believe the `.png` is excluded, but it's been a while 😅).

[2020-10-15 21:56] rylnd commented on #108
Hey everyone,

I'm no longer a contributor on the project so I don't have any insight into the situation, but I felt the need to chime in and say 🙏 **THANK YOU** 🙏 to everyone for jumping in and building these solutions. It's really awesome and heartwarming to see people rally like this ❤️ .

Speaking historically: the avatars services was built to be a self-hosted dev tool, and the http://api.ado

[2020-10-15 22:11] trptcolin commented on #108
Sorry for the sudden outage, and many thanks to those who have posted workarounds and alternative hosting!

This outage boils down to an issue of an expired credit card with Heroku, where it's hosted, and the Heroku account getting suspended due to unpaid bills.

In getting ready to do that, and considering the price tag (we're now at ~$280/month), I think this is a good seam for us to go ahead an

[2020-10-15 22:23] aldrio commented on #108
Docker image for self hosters https://hub.docker.com/r/aldrio/adorable-avatars

[2020-10-16 10:04] FlorianKoerner commented on #108
Very sad to see that the API is currently not available. I liked your avatar style.

I am the maintainer of [DiceBear Avatars](https://avatars.dicebear.com) and can suggest this as an alternative as well.

[2020-11-10 02:16] ianhobbs commented on #108
Thanks @gfauchart  I guess we will need to do the same to maintain the service.... Its so good!!

[2020-11-13 05:50] gianlazz opened #109 "NestJS: requires a middleware function but got a undefined"
I'm trying to use this dependency with the NestJS framework and am running into an issue. Below is an example of how I'm using it and beneath that is the error it's throwing.

[code]

[code]

Any thoughts?

[2020-11-17 05:03] rylnd commented on #109
Hi @gianlazz ! Apologies in advance as I'm not very familiar with NestJS.

While I wasn't able to find any official examples of using an express middleware in NestJs in their [documentation](https://docs.nestjs.com/middleware) it appears as though they're expecting an object with a `use` method, rather than the anonymous function that defines our middleware (and your error does seem to point to th

[2020-11-17 05:45] gianlazz commented on #109
Thank you @rylnd for looking into this. I'll look into it further and may end up making that contribution.

[2020-12-14 18:45] wallopthecat commented on #109
try something like this in your controller
[code]

[2020-12-16 04:50] gianlazz commented on #109
I was able to resolve the issue with the following:

[code]

[2020-12-16 04:50] #109 closed

[2021-01-10 18:22] dariocoroneldev commented on #108
ther is no more site?

[2021-07-30 12:06] parostatkiem commented on #103
Bump: I came across this library of wonderful avatars and I'd like to use it. Sadly, it doesn't support the LTS Nodejs 😞

[2021-09-08 16:32] viking2917 commented on #108
Hi @gfauchart Thanks for hosting at https://api.hello-avatar.com/adorables/. Have been using for awhile now successfully, it seems to have stopped working recently, I get "ERROR: Failed to contact the origin".

Is that intentional? Thank you!

[2021-09-08 16:40] gfauchart commented on #108
Hello @viking2917 ,
Sorry, the bill was getting too high and I ran out of AWS credit :(
some links are still working because the CDN is still up with some cached links, but I had to turn off the webserver

[2021-09-08 16:42] viking2917 commented on #108
@gfauchart makes sense. Thanks for hosting for a time!

[2021-11-25 20:57] M4GNV5 commented on #108
I/We are currently hosting the service at https://adorable-avatars.broken.services/

https://adorable-avatars.broken.services/myseed
https://adorable-avatars.broken.services/120/myseed
https://adorable-avatars.broken.services/face/eyes2/nose2/mouth1/ff0000/120
https://adorable-avatars.broken.services/list

Its running on a Hetzner root server (no unexpected AWS/Heroku bills). Its mainly for our in

[2021-11-25 21:25] FlorianKoerner commented on #108
Like the domain name. 😄

[2021-12-02 06:35] ETMitch21 commented on #108
No longer operating.

[2022-01-14 20:12] #105 closed

[2022-01-14 20:34] rylnd commented on #103
I've just released version `0.5.0`, which specifies node >= 10.x and includes an updated version of the `sharp` package.

[2022-07-04 21:17] asbiin commented on #108
I made this package to replace the avatar service: https://github.com/asbiin/laravel-adorable https://packagist.org/packages/asbiin/laravel-adorable

[2022-11-01 14:11] polettix commented on #108
Not sure whose this site is: [http://adorableavatars.com/](http://adorableavatars.com/)